.main{
    color: aqua;
    width: 100%;
}
.founder_image{
    width: 100%;
}
.content_div{
    width: 90%;
    margin: auto;
    background-color: rgb(240, 228, 228);
    padding: 15px 15px 15px 15px;
}
.h1_heading{
    color: #0F609F;
    text-align: center;
}
.heading{
    color: #0F609F;
}